.container {
width: 84%;
margin: auto;
max-width: 1440px;
}

.flex-container {
display: flex;
flex-direction: row;
flex-wrap: wrap; }


.main-intro {
position: relative;
padding-top: 200px;
padding-left: 100px;
top: 100px;
left: 20px;
background-color:#ced200; }

.headings {
position:relative;
padding-top: 200px;
left: 20px;
background-color: white;
}
