/* HEADERS */

h1{
font-family: 'Bitter', serif;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;
letter-spacing: -1.5px;
color: #263031;
text-align:left;
}

h2{
font-family: 'Bitter', serif;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;
color: #263031;
text-align:left;
}

h3{
font-family: 'Bitter', serif;
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 41px;    
color: #263031;
text-align:left;
}

h4 {
font-family: 'Bitter', serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.25px;
color: #263031;
text-align:left;
}

h5 {
font-family: 'Bitter', serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 32px;
color: #263031;
text-align:left;
}

h6{
font-family: 'Bitter', serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
/* or 175% */
letter-spacing: 0.15px;
color: #263031;
text-align:left;
}

.subhead{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;    
letter-spacing: 0.005em;
text-transform: capitalize;
color: #7D8383; }

p{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: #263031;
text-align:left;

}

.body2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: white;
    }